[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
django-ninja-jwt = "*"
psycopg2-binary = "*"
factory-boy = "*"
typing-extensions = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
